@model List<FtpCrawler.Web.Models.FtpServerModel>
@{
    ViewBag.Title = "Servers List";
}

<div>
    FTP Servers
    <div class="pull-right">@Html.ActionLink("Add Server", "Add", "Server")</div>
</div>

<div>
    <table class="table table-bordered table-responsive table-striped" >
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Hostname</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var server in Model)
            {
            <tr>

                <td>@server.Online</td>
                <td>@server.HostName</td>
                <td>@server.Login</td>
            </tr>
            }
        </tbody>
    </table>
</div>