@model List<FtpCrawler.Web.Models.FtpServerModel>
@{
    ViewBag.Title = "Servers List";
}

<div >
    FTP Servers
    <div class="pull-right">@Html.ActionLink("Add Server","Add","Server")</div>
</div>

<div>
    <table >
        <thead>
            <tr>
                <th>Hostname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var server in Model) {

                <td>@server.HostName</td>
            }
        </tbody>
    </table>

</div>